/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* box sizing for simpler padding */
*{box-sizing:border-box;}

/* CSS basics */
a{color:#09f;text-decoration:none;}
body{font-family: 'Muli', sans-serif;color:#555;font-size:30px;}
#header{padding-top:40px;padding-bottom:40px;margin-bottom:20px;}
	#header:after{display:block;border-bottom:2px solid #eee;content:" ";position:relative;top:20px;}
	#header li{display:inline-block;width:auto;margin-right:20px;}
	#header a{font-family:Mate;font-size:30px;}
	#header .btn-sidebar{position:absolute; right:20px;top:20px;}
main{overflow:hidden;width:100%;position:relative;}
aside{width:30%;position:absolute;left:70%;}
section{width:70%;display:flex;flex-wrap:wrap;}
/*article{width:200px;flex-basis:auto;flex-grow:1.2;flex-shrink:0.5;-min-width:100px;-max-width:300px;background:#fef;}*/
article{width:50%;}
article:hover{background:#e6f7ff;}
article img{width:100%;}
article header{color:#000;font-family: 'Mate', serif;}

p{color:#555;font-size:16px;font-weight:normal;}
	
#header, aside, article{padding:20px;}


footer{
clear:both;min-height:100px;background:repeating-linear-gradient(
    45deg,
    #eee,
    #eee 2px,
    #fff 2px,
    #fff 10px);
}

section{transition: width .2s, left .2s;}
aside{transition: height .2s, left .2s;}
body.hide-sidebar aside{width:0%;left:100%;}
body.hide-sidebar section{width:100%;}



@media ( min-width: 1060px ) {
	article{width:33.3%}
}

@media ( max-width: 800px ) {
	article{width:100%}
}

@media ( max-width: 560px ) {
	#header a{font-family:Mate;font-size:20px;line-height: 57px;}
	section{width:100%!important;}
	body:not(.hide-sidebar) aside{width:100%;position:static;left:0}
	body.hide-sidebar aside {height:0;left:0;overflow:hidden;}
	
	
	
}